# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project libraries
physx/*.lib
physx/*.dll

# ignore .dll and .lib files in these paths as well
physx/release/
physx/debug/

x64/*.dll
x64/*.lib

!*.dll
!*.lib

# Build and object files
/x64/
/.vs/
/*.log
*.pdb
*.ipdb
*.iobj
*.tlog
*.user
